header {
	background-color: #4CAF50;
	color: white;
	padding: 15px;
	text-align: center;
  }
  app-wrapper {
	display: flex;
	flex-direction: column;
  }
  game-component {
	flex: 1;
  }
  footer-component {
	background-color: #4CAF50;
	color: white;
	padding: 15px;
	text-align: center;
  }
 /*  <nav-bar></nav-bar> */